{% extends "layout.html" %}}
{% load static %}
{% block title %}Potato Blog{% endblock %}
{% block description %}Welcome to the homepage of Potato Blog{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="background:transparent !important" class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Weclome to MadSprite and Wowdoge Potato Blog, the best place to talk about fine potatos</p>
        <p><a class="btn btn-primary btn-lg" href="/blog/blogs" role="button">View blogs</a></p>
      </div>
    </div>
{% if user.is_authenticated %}

{% else %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Sign in</h2>
          <p>Start talking as soon as you are logged in</p>
          <p><a class="btn btn-default" href="/accounts/login" role="button">Sign in &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Sign up</h2>
          <p>Want to start talking, sign up today!</p>
          <p><a class="btn btn-default" href="accounts/register" role="button">Sign up &raquo;</a></p>
       </div>
      </div>
{% endif %}
{% endblock %}
