{% extends 'layout.html' %} 
{% load static %} 
{% block title %}Profile{% endblock %} 
{% block description %}This is the profile page{% endblock %} 

{% block content %} 


  <!-- start Profile About  -->
    <div>
      <h1>Profile</h1>>
      	{% for detail in profile_detail %}
      		<h3> Username: {{ detail.username }} </h3>
      		<h3> Name: {{ detail.name }} </h3>
      		<h3> Email: {{ detail.email }} </h3>
      	{% endfor %}
    </div>
  <!-- end Profile About  -->



{% enbdlock %}